@import "~bootstrap/dist/css/bootstrap";

label {
  margin-bottom: 0;
}

.App {
  text-align: center;
}

.alignment-container {
  height: 100%;
  position: relative;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

#main {
  min-height: 400px;
}

label {
  margin-right: 0.5rem;
}

input {
  padding-top: 0.1rem;
  margin-right: 0.5rem;
}

.full-width {
  width: 100%;
}

.justify-text {
  text-align: justify;
}

.card {
  margin-top: 1rem;
  margin-bottom: 1rem;
}