@import "~bootstrap/dist/css/bootstrap";

#root { 
  padding-top: 2rem;
}

label {
  margin-bottom: 0;
}

.App {
  text-align: center;
}

.alignment-container {
  height: 100%;
  position: relative;
}

#main {
  min-height: 400px;
}

label {
  margin-right: 0.5rem;
}

input {
  padding-top: 0.1rem;
  margin-right: 0.5rem;
}

.full-width {
  width: 100%;
} 